<template>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="#">TP SERE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li v-for="(element, index) in menu">
                    <router-link class="nav-link" :to="element.to">{{element.title}}</router-link>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "app-menu",
        data() {
            return {
                menu: [
                    {to: '/', title: 'Home'},
                    {to: '/login', title: '1. Sniffing'},
                    {to: '/csrf', title: '2. CSRF'},
                    {to: '/xss', title: '3. XSS'}
                ]
            }
        }
    }
</script>

<style scoped>
    .router-link-exact-active {
        color: white !important;
        font-weight: bold;
    }
</style>