<template>
    <div>
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: "explanation"
    }
</script>

<style scoped>
    h2 {
        font-size:16pt;
    }

    h3 {
        font-size: 12pt;
        margin-left: 0.2rem;
    }
</style>