<template>
    <div class="card mb-3">
        <div class="card-header"><a href="#" @click.prevent="reload()">Refresh</a></div>
        <div class="card-body">
            <h2 class="card-title">Login status
                <small
                        v-if="!loading"
                        :class="{'text-danger': !authentication.status,
                                    'text-success': authentication.status}">
                    {{authentication.message}}
                </small>
            </h2>
            <div v-if="loading" class="text-center">
                <i class="fas fa-spinner fa-4x fa-spin"></i>
            </div>
            <div v-else-if="!authentication.status">
                <p class="card-subtitle mb-2 text-muted">What?! When did you disconnect?! Oo</p>
                <p>Go read the explanation to understand what happened.</p>
            </div>
            <div v-else>
                <p class="card-subtitle mb-2 text-muted">Lucky you, there aren't any dangerous attacker nearby :)</p>
            </div>
        </div>
        <div class="card-footer text-danger bg-light" v-if="errors.length > 0">
            {{inlineErrors}}
        </div>
    </div>
</template>

<script lang="ts">
    import AppService from "../../services/AppService";
    import ServiceRegistry from "../../services/ServiceRegistry";
    import User from "../../../entities/User";
    import Vue from "vue";
    import {Component} from "vue-property-decorator";

    const NOT_CONNECTED: string = "Not connected";
    const CONNECTED: string = "Connected";

    @Component({})
    export default class LoginChecker extends Vue {
        inputUsername: string = "";
        inputPassword: string = "";

        loading: boolean = true;
        user: User = new User(false, "", "");
        sessionID: string = "";
        authentication = {
            status: false,
            message:NOT_CONNECTED
        };
        errors: string[] = [];

        service: AppService;

        constructor() {
            super();

            this.service = <AppService>ServiceRegistry.get('app');
        }

        mounted() {
            this.initPortal();
        }

        async initPortal() {
            let userSession = await this.service.fetchUserSession();

            if (userSession.user) {
                this.user = userSession.user;
            }
            this.errors = userSession.errors;

            this.updateUserStatus();

            this.loading = false;
        }

        updateUserStatus() {
            console.debug(this.user.loggedIn);
            if (this.user.loggedIn) {
                this.authentication.status = true;
                this.authentication.message = CONNECTED;
                this.$emit("logged-in");
            } else {
                this.authentication.status = false;
                this.authentication.message = NOT_CONNECTED;
                this.$emit("logged-out");
            }
        }

        reload() {
            this.loading = true;
            setTimeout(() => {
                this.initPortal();
            }, 300);
        }

        get inlineErrors() {
            return this.errors.join("<br />");
        }
    }
</script>

<style scoped>

</style>