<template>
    <div class="card mb-3">
        <div class="card-header"><a href="#" @click.prevent="reload()">Refresh login portal</a></div>
        <div class="card-body">
            <h2 class="card-title">Login portal
                <small
                        v-if="!loading"
                        :class="{'text-danger': !authentication.status,
                                    'text-success': authentication.status}">
                    {{authentication.message}}
                </small>
            </h2>
            <div v-if="loading" class="text-center">
                <i class="fas fa-spinner fa-4x fa-spin"></i>
            </div>
            <div v-else-if="!authentication.status">
                <p class="card-subtitle mb-2 text-muted">This content requires authorization. Please log in.</p>
                <form action="" @submit.prevent="login()">
                    <div class="form-group">
                        <label for="inputUsername">Username</label>
                        <input type="text" class="form-control" v-model="inputUsername"/>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" v-model="inputPassword"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Log in</button>
                </form>
            </div>
            <div v-else>
                <p>You are connected! There's pretty nothing much to do now...</p>
                <p>Logged with IP: {{user.loginIp}}</p>
                <a href="#" class="btn btn-danger" @click.prevent="logout()">Log out</a>
            </div>
        </div>
        <div class="card-footer text-danger bg-light" v-if="errors.length > 0">
            {{inlineErrors}}
        </div>
    </div>
</template>

<script lang="ts">
    import AppService from "../../services/AppService";
    import ServiceRegistry from "../../services/ServiceRegistry";
    import User from "../../../entities/User";
    import Vue from "vue";
    import {Component} from "vue-property-decorator";

    const NOT_CONNECTED: string = "Not connected";
    const CONNECTED: string = "Connected";

    @Component({})
    export default class LoginPortal extends Vue {
        inputUsername: string = "";
        inputPassword: string = "";

        loading: boolean = true;
        user: User = new User(false, "", "");
        sessionID: string = "";
        authentication = {
            status: false,
            message:NOT_CONNECTED
        };
        errors: string[] = [];

        service: AppService;

        constructor() {
            super();

            this.service = <AppService>ServiceRegistry.get('app');
        }

        mounted() {
            this.initPortal();
        }

        async initPortal() {
            let userSession = await this.service.fetchUserSession();

            if (userSession.user) {
                this.user = userSession.user;
            }
            this.errors = userSession.errors;

            this.updateUserStatus();

            this.loading = false;
        }

        async login() {

            console.debug("Handling form submission...");
            this.loading = true;
            let connectReponse = await this.service.connect(this.inputUsername, this.inputPassword);

            this.inputUsername = "";
            this.inputPassword = "";

            if (connectReponse.user) {
                this.user = connectReponse.user;
            }
            this.errors = connectReponse.errors;

            this.updateUserStatus();

            this.loading = false;
        }

        async logout() {
            console.debug('Logging out...');
            this.loading = true;

            try {
                await this.service.disconnect();
            } catch (err) {}

            this.reload();
        }

        updateUserStatus() {
            console.debug(this.user.loggedIn);
            if (this.user.loggedIn) {
                this.authentication.status = true;
                this.authentication.message = CONNECTED;
                this.$emit("logged-in");
            } else {
                this.authentication.status = false;
                this.authentication.message = NOT_CONNECTED;
                this.$emit("logged-out");
            }
        }

        reload() {
            this.loading = true;
            setTimeout(() => {
                this.initPortal();
            }, 300);
        }

        get inlineErrors() {
            return this.errors.join("<br />");
        }
    }
</script>

<style scoped>

</style>