<template>
    <div>
        <div class="card bg-secondary text-white" v-if="currentStep < minStep">
            <div class="card-body">
                <p class="card-title text-center">Please complete step {{previousStep}} to reveal this content.</p>
            </div>
        </div>
        <div class="card bg-light text-muted" v-else-if="!view">
            <div class="card-body text-center">
                <p class="card-title text-center">Click on the button to unlock this content.</p>
                <button class="btn btn-success" @click.prevent="show()"><i class="fas fa-unlock"></i> Unlock</button>
            </div>
        </div>
        <slot v-else></slot>
    </div>
</template>

<script>
    export default {
        name: "step-spoiler",
        props: {
            minStep: Number,
            currentStep: Number,
            autoView: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                view: false
            }
        },
        created() {
            this.view = this.autoView;
        },
        computed: {
            previousStep() {
                return this.minStep - 1;
            }
        },
        methods: {
            show() {
                this.view = true;
                this.$emit('spoiler-showed');
            }
        }
    }
</script>

<style scoped>

</style>