<template>
    <div>
        <h1>Sniffing, CSRF and XSS: A showcase of common HTTP security breaches</h1>
        <p>
            This experiment showcases 3 basic web attacks:
        </p>
        <ol>
            <li>
                <router-link to="/login">Sniffing HTTP requests</router-link>
            </li>
            <li>
                <router-link to="/csrf">CSRF attack</router-link>
            </li>
            <li>
                <router-link to="/xss">XSS attack</router-link>
            </li>
        </ol>
      <h2>System and network architecture</h2>
      <center><img src="img/Archi.png"></img></center>
      <p>
          Our architecture is kind of basic. It's composed of 3 devices
           representing a server, a client and a second client called the attacker.<br/>
           We use 3 virtual machines connected to a single virtual switch. It's frankly enough to emulate a physical system.<br/>
           All the computers are using Linux as operating system.<br/>
           Web server is using Node.js

      <h2>Goals and explanations</h2>
      <p>
        Our general goal is to show multiple kinds of web vulnerabilities. We propose 3 different ones.
        Each attack represent a different level of failure.<br/>


        Through these attacks we do not expect to show something that can be
         easily reproduced on a today network.<br/>

        You've seen before that we host our 3 computers (client, server and attacker)
         on the same network. Even if this configuration is rare in the real world,
          sometimes, it may happen that both client and hackers are on the same network.
           Today's network infrastructures are realy secured which means that the true realistic
           threat comes from inside the company.<br/>
           Let's consider the following environment:
            If for any reason a hacker find himself connected to some company's
             wifi and if some internal websites
            are hosted under uncrypted http he will be able to snif packets send
             to this server by other client on the wifi network. So he will be*
              able to perform the first attack.<br/><br/>

              We hope you'll enjoy dicovering or re-discovering these attacks.
      </p>
    </div>
</template>

<script>
    export default {
        name: "home"
    }
</script>

<style scoped>
</style>
