<template>
    <div>
        <h1>Attack 1: Session Sniffing</h1>

        <div class="row">
            <div class="col-md">
                <login-portal></login-portal>
                <session-injector></session-injector>
            </div>
            <div class="col-md text-justify">
                <explanation>
                    <h2>Default login credentials</h2>
                    <ul>
                        <li>Username: JohnDoe</li>
                        <li>Password: foobar</li>
                    </ul>
                    <h2>How to perform this attack?</h2>
                    <p>This attack requires one server and two clients. One client will be the user and the other
                        the attacker.</p>
                    <ol>
                        <li>The client logs in.</li>
                        <li>The attacker starts a networking sniffing tool, such as Wireshark, on his machine.</li>
                        <li>The client execute a request to the server, by loading a new page for example.</li>
                        <li>The attacker retrieves the <mark>session cookies</mark> associated to the client request.</li>
                        <li>He inserts the cookies in his browser.</li>
                        <li>If everything went well, he's now connected as the client.</li>
                    </ol>
                    <p>
                        <strong>Note:</strong> We provide small tool to insert session cookies on this webpage. In
                        "real life", attackers use their browser's <mark>developer console</mark>.
                    </p>
                    <p>
                        <strong>Note:</strong> As the data is transmitted in plain text, the attacker can sniff the
                        user's password as well.
                    </p>
                    <h2>Attempting a sniffing on user login? In 2018, really?</h2>
                    <p>
                        <strong>Yes.</strong> &mdash; This can be surprising but this kind of attack is one of the most
                        powerful. In fact, to send data to a website, user inputs data into
                        <mark class="font-italic">HTML Forms.</mark>
                        This data was usually sent over using HTTP protocol, which
                        <strong>does not encrypt</strong> information between the two parties.
                    </p>
                    <p>
                        But encryption is not enough in all cases. Despite the rise of
                        <mark class="font-italic">HTTPS protocol</mark>, sniffing is still a threat the users must be
                        warned of.
                    </p>
                    <h2>How can I protect my users from these kind of attacks?</h2>
                    <p>
                        <strong>The first thing to do is to enable HTTPS protocol on your website, ideally along
                            with HSTS.</strong>.
                    </p>
                    <p>
                        But there is still a risk. <strong>The last point of failure rests in the user internet
                        provider.</strong> If the user connects to a public access point, the data can be easily
                        captured in a HTTP exchange, but <strong>also in a HTTPS request</strong> with an attack called
                        <mark class="font-italic">Man in the Middle</mark> (we let you check by yourself on your
                        favorite search engine).
                    </p>
                </explanation>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Explanation from '../common/Explanation.vue';
    import LoginPortal from '../common/LoginPortal.vue';
    import SessionInjector from './SessionInjector.vue';

    export default {
        name: "login",
        components: {
            Explanation,
            LoginPortal,
            SessionInjector
        },
        mounted() {
            document.title = "First attack : Sniffing";
        }
    }
</script>

<style scoped>

</style>