<template>
    <div class="card">
        <div class="card-body text-justify">
            <h2 class="card-title">Set session ID (Attacker)
                <small v-if="injected" class="text-success">Injected</small></h2>
            <p class="card-subtitle mb-2">
                Put here the session ID you obtain from Wireshark.<br />
                <strong>Bonus:</strong> Try to use browser's developer tools to inject the session ID.
            </p>
            <p>
                <strong>Note:</strong> Before injecting the session ID, we <strong>strongly recommend</strong> you to
                clear the attacker's cookies. Otherwise, your injection might be blocked by previous events.
            </p>
            <p>
                <i>Once injected, check your login status by refreshing the login portal.</i>
            </p>
            <form action="" @submit.prevent="saveCookie()">
                <div class="form-group">
                    <label>Wireshark extracted cookie</label>
                    <input class="form-control" type="text" v-model="cookie" />
                </div>
                <button class="btn btn-primary" type="submit"><i class="fas fa-syringe"></i> Inject</button>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "session-injector",
        data() {
            return {
                cookie: "",
                injected: false
            }
        },
        methods: {
            saveCookie() {
                document.cookie = this.cookie;
                this.injected = true;
            }
        }
    }
</script>

<style scoped>

</style>