<template>
    <div>
        <h1>Attack 2: CSRF
            <button class="btn btn-warning" @click.prevent="increaseStep(0, true)">Force steps completion.</button>
        </h1>

        <div class="row">
            <div class="col-md">
                <h2>Step 1: Login</h2>
                <step-spoiler class="mb-3" :minStep="LOGIN_STEP" :currentStep="currentStep" :autoView="true">
                    <login-portal @logged-in="increaseStep(LOGIN_STEP)"></login-portal>
                </step-spoiler>
                <h2>Step 2 (Attacker): Publish a harmful picture</h2>
                <step-spoiler class="mb-3" :minStep="ATTACKER_STEP" :currentStep="currentStep" :autoView="true">
                    <p>Find a kitty picture. Then, find a way to disconnect the user by displaying an other image.</p>
                    <div class="card">
                        <div class="card-body">
                            <form  @submit.prevent="lockUrls()">
                                <div class="form-group">
                                    <label>Kitty Image URL</label>
                                    <input v-model="kittyUrl" :disabled="urlsLocked" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Malicious Image URL</label>
                                    <input v-model="maliciousUrl" :disabled="urlsLocked" type="text" class="form-control">
                                </div>
                                <button class="btn btn-primary" :class="{disabled: urlsLocked}">
                                    <i class="fas fa-check"></i> Save URLs
                                </button>
                                <button class="btn btn-light" v-if="urlsLocked" @click.prevent="unlockUrls()">
                                    <i class="fas fa-edit"></i> Change URLs
                                </button>
                            </form>
                        </div>
                    </div>
                </step-spoiler>
                <h2>Step 3: View the photo of an adooorable kitty, posted by another user.</h2>
                <step-spoiler class="mb-3" :minStep="KITTY_STEP" :currentStep="currentStep">
                    <kitty-pic :eventTimeout="1500" @kitty-showed="increaseStep(KITTY_STEP)"
                               :url="kittyUrl" :maliciousUrl="maliciousUrl"
                    ></kitty-pic>
                </step-spoiler>
                <h2>Step 4: Check your login status&hellip;</h2>
                <step-spoiler class="mb-3" :minStep="LOGIN_CHECK_STEP" :currentStep="currentStep">
                    <login-checker @logged-out="increaseStep(LOGIN_CHECK_STEP)"></login-checker>
                </step-spoiler>
            </div>
            <div class="col-md text-justify">
                <h2>Note</h2>
                <p>
                    <strong>For simplicity reasons, you can run this attack using the client only.</strong>
                </p>
                <h2>Default login credentials</h2>
                <ul>
                    <li>Username: JohnDoe</li>
                    <li>Password: foobar</li>
                </ul>
                <h2>So, what did really happen?</h2>
                <step-spoiler class="mb-3" :minStep="EXPLANATION_STEP" :currentStep="currentStep" :autoView="true">
                    <explanation>
                        <p>
                            The trick comes from <strong>Step 2</strong>. At first sight, you only see the picture of a
                            tiny kitty, and you imagine that the second image is broken. Damn it, the second kitty might
                            have been even cuter!
                        </p>
                        <p>
                            Actually, the second picture isn't broken because some disk failed or the resource moved. It
                            is <strong>on purpose of an attacker</strong>. If you analyse the picture using you browser
                            Inspection feature (right click, Inspect the element), you'll see the curiously looking URL
                            of the picture <i>(that you yourself entered, btw)</i>.
                        </p>
                        <p>
                            When the browser tries to download the picture, to draw it on your screen, it makes a
                            <strong>HTTP GET request</strong>. And because you're logged in to this website, your
                            browser add your <strong>session cookie</strong> into this request. When the server receives
                            the request, it executes it thinking that you wanted it.
                        </p>
                        <p>
                            This attack is known as a <mark class="font-italic">Cross-site request forgery
                            attack</mark>, or CSRF for short. <i>Now you know how to bother your friends ;)</i>
                        </p>
                        <h2>How can I protect myself from these kind of attacks?</h2>
                        <p>
                            There isn't much you can do. It is mainly webmaster roles to protect their website
                            against CSRF attacks (see below). But CSRF attacks are the reason of the "Show images"
                            button in your email client.
                        </p>
                        <h2>How can I protect my users from these kind of attacks?</h2>
                        <p>
                            If you understood this attack, you might know that this attacks make the server think
                            that the user made this GET requests by himself, because the user's browser did so.
                        </p>
                        <h2>
                            Can you guess how to protect your website?
                        </h2>
                        <step-spoiler class="mb-3" :minStep="EXPLANATION_STEP" :currentStep="currentStep" :autoView="false">
                            <ul>
                                <li>
                                    Add an mandatory token directly in the URL via parameters (like that:
                                    <code>https://yousite.com/users/logout?csrf=csrfSessionToken</code>). This way,
                                    the malicious attacker won't be able to know your session token, so when the
                                    web server will receive a request for <code>https://yousite.com/users/logout</code>,
                                    it'll just ignore it.
                                </li>
                                <li>
                                    Since recently, browsers introduce the <code>SameSite</code> attribute on cookies
                                    to instruct the browser to afford this cookie certain protections.
                                </li>
                                <li>
                                    You can checkout the
                                    <a href="https://en.wikipedia.org/wiki/Cross-site_request_forgery">Wikipedia
                                        article about CSRF</a>, to see other prevention methods.
                                </li>
                            </ul>
                        </step-spoiler>
                    </explanation>
                </step-spoiler>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Explanation from '../common/Explanation.vue';
    import LoginPortal from '../common/LoginPortal.vue';
    import LoginChecker from '../common/LoginChecker.vue';
    import StepSpoiler from '../common/StepSpoiler.vue';
    import KittyPic from './KittyPic.vue';
    import Vue from "vue";
    import {Component} from "vue-property-decorator";
    import Config from "../../config";

    @Component({
        components: {
            Explanation,
            LoginPortal,
            LoginChecker,
            StepSpoiler,
            KittyPic
        }
    })
    export default class CSRF extends Vue {
        currentStep: number = 1;
        kittyUrl: string = "";
        maliciousUrl: string = "";
        urlsLocked: boolean = false;

        readonly LOGIN_STEP = 1;
        readonly ATTACKER_STEP = 2;
        readonly KITTY_STEP = 3;
        readonly LOGIN_CHECK_STEP = 4;
        readonly EXPLANATION_STEP = 5;

        mounted() {
            document.title = "Second attack: CSRF";
            this.kittyUrl = Config.KITTY_URL;
        }

        increaseStep(stepLimit: number, force: boolean = false) {
            if (this.currentStep <= stepLimit || force) {
                this.currentStep++;
            }
        }

        lockUrls() {
            this.increaseStep(this.ATTACKER_STEP);
            this.urlsLocked = true;
        }

        unlockUrls() {
            this.currentStep = this.ATTACKER_STEP;
            this.urlsLocked = false;
        }
    }
</script>

<style scoped>

</style>