<template>
    <div>
        <img :src="url" alt="Look at this adorable kitten... :D" />
        <img :src="maliciousUrl" class="malicious"/>
    </div>
</template>

<script>
    export default {
        name: "kitty-pic",
        props: {
            eventTimeout: {
                type: Number,
                default: 1000
            },
            url: String,
            maliciousUrl: String
        },
        mounted() {
            setTimeout(() => {
                this.$emit('kitty-showed');
            }, this.eventTimeout);
        }
    }
</script>

<style scoped>
    img.malicious {
        width: 100px;
        height: 300px;
    }
</style>